<% if (data.field.fieldType.is_array) { %>
	<div class="input-group">
<% } %>
<input
	id="field-<%= data.field.path %>"
	class="chimeraField-prime chimeraField-string form-control"
	value="<%= String(data.value || '').encodeHTML() %>"
	type="text"
>
<% if (data.field.fieldType.is_array) { %>
		<span class="input-group-btn">
			<button class="btn btn-danger chimeraField-remove-entry" type="button">
				<i class="fa fa-times" aria-hidden="true"></i>
			</button>
		</span>
	</div>
<% } %>