<% if (data.field.fieldType.isArray) { %>
	<div class="input-group">
<% } %>
<select
	class="chimeraField-prime"
	value="<%= (data.value || '') %>"
	id="field-<%= data.field.path %>"
	type="text"
></select>
<% if (data.field.fieldType.isArray) { %>
		<span class="input-group-btn">
			<button class="btn btn-danger chimeraField-remove-entry" type="button">
				<i class="fa fa-times" aria-hidden="true"></i>
			</button>
		</span>
	</div>
<% } %>