<textarea
	id="field-<%= data.field.path %>"
	class="chimeraField-prime chimeraField-string form-control"
	rows=7
><%= JSON.stringify(data.value, null, 4) %></textarea>
<% if (data.field.fieldType.is_array) { %>
	<button class="btn chimeraField-remove-entry" type="button">x</button>
<% } %>