<div class="chimeraField-row form-group container-fluid">
	<div class="row">
		<div class="col-sm-12 chimeraField-left control-label">
			<label
				class="chimeraField-label"
				for="field-<%= data.field.path %>"
			>
				<% assign('title') %>
					<span class="field-title"><% print(field_title) %></span>

					<% if (field_description) { %>
						<small class="field-description"><%= field_description %></small>
					<% } %>
				<% assign_end('title') %>
			</label>
			<% if (data.field.fieldType.isArray) { %>
				<button class="btn btn-default chimeraField-add-entry">
					<i class="fa fa-plus" aria-hidden="true"></i>
					<%= __('chimera', 'Add new entry') %>
				</button>
			<% } %>
		</div>
	</div>
	<div class="row">
		<% assign('entries', {className: 'col-sm-12'}) %>
	</div>
</div>