<%
script('/public/ckeditor/4.4/ckeditor');
%>
<div class="chimeraEditor-fieldGroup form-group container-fluid">
	<div class="row">
		<div class="col-sm-12 chimeraField-left control-label">
			<label
				class="chimeraEditor-fieldLabel"
				for="field-<%= data.field.path %>"
			>
				<% assign('title') %>
					<span class="field-title"><% print(field_title) %></span>

					<% if (field_description) { %>
						<small class="field-description"><%= field_description %></small>
					<% } %>
				<% assign_end('title') %>
			</label>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12 chimeraEditor-fieldWrap">
			<% assign('entries') %>
		</div>
	</div>
</div>