<div class="quickmenu">
	<div class="quickmenu__cont">
		<div class="quickmenu__list">
			<div class="quickmenu__item active">
				<div class="fa fa-fw fa-home"></div>
			</div>
			<div class="quickmenu__item">
				<div class="fa fa-fw fa-envelope-o"></div>
			</div>
			<div class="quickmenu__item new">
				<div class="fa fa-fw fa-comments-o"></div>
			</div>
			<div class="quickmenu__item">
				<div class="fa fa-fw fa-feed"></div>
			</div>
			<div class="quickmenu__item">
				<div class="fa fa-fw fa-cog"></div>
			</div>
		</div>
	</div>
</div>
<div class="scrollable scrollbar-macosx">
	<div class="sidebar__cont">
		<% Menu.get('chimera_menu') %>
	</div>
</div>