.chimeraField-entry {
	display: block;

	&.action-edit {
		margin-bottom: 0.5rem;
	}
}

.action-save.btn {
	.btn-success();
}

.action-remove.btn {
	.btn-danger();
}

.flex-row {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	align-items: stretch;
}

.flex-col {
	-webkit-flex: 0 auto;
	flex: 0 auto;
}

.panel-heading {
	display: flex;
	align-items: center;

	> * {
		flex: auto;
	}
}

.chimeraEditor-actions {
	flex: 1 1 auto;
}

.chimera-panel-title {
	flex: 0 1 auto;
}

.chimeraField-prefix-selector {
	margin-left: 0.5rem;
}

.chimeraField-wysiwyg {
	background-color: @gray-dark;
	border-color: @gray-dark;
	box-shadow: none;
	color: @gray-ui;
	outline: none;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	border-radius: 4px;
	margin-left: 0.6rem;

	&::-moz-placeholder           { color: @gray-ui; }
	&:-ms-input-placeholder       { color: @gray-ui; }
	&::-webkit-input-placeholder  { color: @gray-ui; }

	&:focus {
		border-color: @gray-dark;
		box-shadow: inset 0 0px 3px @gray-ui;
	}
}

.chimeraField-label {
	display: block;
}

.chimeraMedia-progress.progress {
	margin-bottom: 0;
}

.chimeraField-entry:nth-child(even) .chimeraEditor-subschema-fields {
	background-color: @gray-back;
}

// Add a clear border to a subschema field (when it's not the last field)
.chimeraEditor-subschema:not(:last-child) {
	border-bottom: 3px solid #30363c;
}

// Stuff that needs fixing, so it should be hidden for now
.main-title {
	padding-right: 0 !important;
	margin-right: 0 !important;
}

.main-filter {
	display: none;
}

.chimeraEditor-boolean-text {
	display: none;
}

.btn i x-svg {
	height: 100%;
}

.btn x-svg {
	display: inline-flex;
	justify-content: center;
	width: 1rem;
	height: 1rem;
	margin-right: .1rem;
	vertical-align: middle;
}

// Temporary fixes
.quickmenu {
	display: none;
}

.hide-translate-buttons {
	.chimeraField-prefix-buttons {
		display: none;
	}
}

.vex.vex-theme-bottom-right-corner .vex-content {
	background: #e9e9e9;
	box-shadow: -1px -1px 1px rgba(0,0,0,0.1);
}

.vex.vex-theme-bottom-right-corner .vex-dialog-button.vex-dialog-button-primary {
	background-color: #fff;
	border-color: #e9e9e9;
	color: #5e6870;
}

// We added this, but this causes menus to add scrollbars and such...
// .datalist .panel-body {
// 	overflow: auto;
// }

.datatable tr.filter-row input.form-control {
	// This stops making the filter inputs widen small fields
	width: 100%;
}

.sortable-row.draggable-mirror {
	box-shadow: 0px 0px 4px @gray-dark;

	td {
		background-color: @gray-pad !important;
	}

	.chimera-actions-wrapper {
		display: none;
	}
}

.drag-handle {
	cursor: grab;
	text-align: center;
	opacity: 0.3;
}

.drag-handle:hover {
	opacity: 1;
}

.panel-body .table {
	tr td,
	tr th {
		vertical-align: middle;
	}
}

.chimeraField-left.control-label {
	text-align: left;

	label {
		padding-left: 9px;
	}
}

.chimeraField-wysiwyg {
	min-height: 100px;
}

ul.group-size-1 {
	display: none;
}